<p>
<% if current_user.balance < 0 && @operation.cost >= Operation::FREE_THRESHOLD && @operation.state.to_i == Operation::STATE_DONE_BUT_NOT_ACCESSIBLE %>
    <h4 class="alert alert-danger"><%= t 'operations.sorry_balance' %></h4>
<% else %>
    <%= link_to (t 'operations.download_results'), download_operation_result_path(:operation => @operation.id, :file_param_id => OperationParameter::PARAM_RESULT_ZIP_PATH), :class => 'btn btn-success' %>
<% end %>
</p>