<h1>Запрос в поддержку</h1>
<p>Пользователь <b><%= user.email %></b> прислал запрос в поддержку</p>

<p>Текст запроса</p>
<p><%= question %></p>

<p>Операция</p>
<p>
  <% if link.nil? %>
      Операция не указана
  <% else %>
      <%= link %>
  <% end %>
</p>