<ul class="list-unstyled">
  <li><%= t 'services.company_location_legal_address' %>: <b><%= t 'services.company_location_legal_address_value' %></b></li>
  <li><%= t 'services.company_location_physical_address' %>: <b><%= t 'services.company_location_physical_address_value' %></b></li>
</ul>