<ul class="list-unstyled">
  <li><%= t 'services.support_contact_email' %>: <b><%= mail_to (t 'services.support_contact_email_value') %></b></li>
  <li><%= t 'services.support_contact_phone' %>: <b><%= t 'services.support_contact_phone_value' %></b></li>
</ul>