<hr/>
<footer class="footer">
  <small>
  </small>
  <nav>
    <ul class="list-inline">
      <li><a href="http://mobile-geo.ru/"><%= t 'jsc_mobile' %></a></li>
      <li></li>
      <li><%= link_to (t 'contacts.contacts'), home_contacts_path %></li>
      <li><%= link_to (t 'services.services_info'), home_service_info_path %></li>
    </ul>
  </nav>
</footer>